@model UploadDocument
@{
    ViewData["Title"] = "Add";
}

    <div class="row">
        
        <div class="col-md-6">
            <h1>Upload File</h1>
            <form asp-action="Add" asp-controller="Home" method="post" enctype="multipart/form-data">
                <input asp-for="Id" type="hidden" />
                <div class="form-group">
                    <label class="col-form-label" asp-for="Name"></label>
                    <input type="text" class="form-control" asp-for="Name">
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="col-form-label" asp-for="Email"></label>
                    <input type="text" class="form-control" asp-for="Email">
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="FormFiles"></label>
                    <input type="file" multiple class="form-control-file" asp-for="FormFiles" id="postedFile">
                    <span asp-validation-for="FormFiles" class="text-danger"></span>
                </div>
                <button 
                        data-ajax="true"
                        type="submit" class="btn btn-primary btn-block">Upload</button>
            </form>
        </div>
    </div>

